
//color variables
$primary-color: #255475;
$secondary-color: #BE8E5E;
$secondary-color-hover: #b88552;
$background-color: #f7f6f9;
$tertiary-color: #DC3545;
$user-color: #C4D3C7;
$user-color-light: #E9ECEF;
$text-black: #272727;
$text-grey: #68717A;
$table-item: #152536;
$input-borders: #CED4DA;
$disabled-color: #A4A4A4;
$error-color: #d93025;
$white: #fff;
$grey-circle: #C4C4C4